.container-desktop-top {
  height: 150px;

}

.header-right {
  margin: 14px 0 0 0;
}

.header-right p {
  margin: 0 0 4px;
  text-align: right;
}

.header-right .phone-number a {
  font-size: 30px;
}

.header-right .address {
  font-size: 18px;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
}

.navbar-default .navbar-collapse {
  border-color: #fff;
  border: none;
}


.published {
  color: #999;
}

.entry-summary,
.entry-content {
  margin: 30px 0 0 0;
}






.page-footer {
  margin: 30px 0 0 0;
  padding: 30px 0 0 10px;
  background: #e6e6e6;
}

.page-footer h3, p, i {
  color: #666;
}

.page-footer a:hover {
  color: #000;
}

.page-footer i {
  font-size: 34px !important;
}

/** NEWSLETTER */
fieldset#subscribeDataTable {
  text-align: center;
}

.muSubmit {
  margin: 20px 0 0 0;
}

.social {
  padding-top: 40px;
}



.copyright {
  margin: 30px 0 20px 0;
  font-size: 12px;
  color: #999;
}